<div class="services">
    <app-counter (countEvent)="updateCount($event)" [count]="myCount" class="counter"></app-counter>
    <p>Compteur parent: {{ myCount }}</p>
    <div class="sample">
        <p>Données du service: </p>
        <p *ngFor="let letter of listeLettres">
            {{ letter }}
        </p>
    </div>
    <div class="beers">
        <button (click)="getBeer()">Get beer</button>
        <button (click)="storeBeer()">Store beer</button>
        <button (click)="goToBeerStore()">Show stored beers</button>
        <p>Beer count: {{ storedBeersCount }}</p>

        <div *ngIf="beer">
            <h3>Ma bière</h3>
            <p>{{ beer.brand }}</p>
            <p>{{ beer.name }}</p>
            <p>{{ beer.style }}</p>
            <p>{{ beer.yeast }}</p>
        </div>
    </div>
</div>

<form (ngSubmit)="goToParams()">
    <label for="params">Paramètre: </label>
    <input [(ngModel)]="param" id="params" name="params" type="text" #paramInput="ngModel" required minlength="4">
    <button type="submit" [disabled]="paramInput.invalid">Navigate</button>
    <p *ngIf="paramInput.errors?.['required'] && paramInput.dirty" class="error">Un paramètre est requis</p>
    <p *ngIf="paramInput.errors?.['minlength'] && paramInput.dirty" class="error">4 caractères minimum</p>
</form>

<hr>

<ul>
    <li>
        <a routerLink="/second">Second Component</a>
    </li>
    <li>
        <a routerLink="/formulaire">Formulaire</a>
    </li>
</ul>