<form [formGroup]="formGroup" (ngSubmit)="validation()">
    <p>
        <label for="nom">Nom: </label>
        <input type="text" id="nom" formControlName="nom">
    </p>
    <div class="error" *ngIf="nom?.invalid && nom?.dirty">
        <p *ngIf="nom?.errors?.['required']">Ce champ est requis</p>
        <p *ngIf="nom?.errors?.['minlength']">Ce champ requiert 4 caractères minimum</p>
    </div>
    <p>
        <label for="email">Email: </label>
        <input type="text" id="email" formControlName="email">
    </p>
    <div class="error" *ngIf="email?.invalid && email?.dirty">
        <p *ngIf="email?.errors?.['required']">Ce champ est requis</p>
        <p *ngIf="email?.errors?.['email']">Le format de l'email n'est pas correct</p>
    </div>
    <input [disabled]="formGroup.invalid" type="submit" value="Valider">
</form>